body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav>ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
}

nav>ul>li {
    font-size: 30px;
    list-style: none;
}

nav>ul>li>a {
    color: black;
}

.logout {
    grid-column: 6;
}

.welcome {
    grid-column: 5;
}

.search {
    margin-left: 45px;
    font-size: 30px;
    width: 200px;
    vertical-align: top;
}

.btn {
    height: 40px;
    width: 40px;
}

main>div {
    height: 1550px;
    background-image: url("background_img.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    border-bottom: 3px solid rgb(163, 5, 5);
}

.content {
    height: 1400px;
    margin: 50px 100px 100px 100px;
    padding: 50px;
    background-color: rgb(248, 225, 229);
    overflow: auto;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    color: white;
}

.description {
    font-size: 30px;
    text-align: left;
    color: white;
    text-align: center;
}

h2 {
    font-size: 50px;
}

.create {
    text-align: left;
    font-size: 40px;
    overflow: auto;
    margin-top: -5px;
}

.create>a {
    color: rgb(91, 88, 88);
    font-weight: bold;
    font-style: italic;
}

.task_title {
    text-align: left;
    margin-top: -5px;
    margin-bottom: 25px;
}

table {
    display: table;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    border: 2px solid #adaaa9;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    padding: 20px;
    margin-bottom: 120px;
}

thead>tr {
    font-size: 35px;
    line-height: 60px;
}

tbody {
    font-size: 30px;
    padding-top: 10px;
}

tbody>tr {
    padding: 40px;
    line-height: 60px;
}

td,
th {
    border: 2px solid #adaaa9;
}

a {
    text-decoration: none;
    color: black;
}

form {
    font-size: 30px;
    text-align: left;
    width: 400px;
    margin: auto;
}

button {
    font-size: 30px;
    margin-left: 160px;
}

form>p {
    margin-bottom: 50px;
}

form>p>input {
    height: 40px;
    font-size: 35px;
    border-radius: 4px;
}

form>p>textarea {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

form>p>select {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

#add_notes {
    margin: 0 200px;
}

#add_notes>button {
    margin: 0 300px;
}

.task_notes {
    font-size: 30px;
}

footer {
    font-style: italic;
}

.create_project {
    margin-left: 200px;
}

a:hover {
    color: red;
}
