{% extends 'base2.html' %}

{% load static %}

{% block title %}
    Signup
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Signup</h1>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Signup</button>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}
