{% extends 'base3.html' %}
{% load static %}

{% block title %}
    Create task
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Create a new task</h1>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}
