{% extends 'base3.html' %}
{% load static %}

{% block title %}
    My tasks
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            <div class="content">
                {% if my_tasks.count != 0 %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in my_tasks %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.start_date|date:"m/d/Y" }}</td>
                                    <td>{{ item.due_date|date:"m/d/Y" }}</td>
                                    <td>{{ item.is_completed|yesno:"Yes,No" }}</td>
                                    <td><a href="{% url 'task_notes' %}">Add</a> /
                                        <a href="{% url 'view_notes' item.id %}">View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You have no tasks</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}
