{% extends 'base3.html' %}
{% load static %}

{% block title %}
    Task notes
{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>Add task notes</h1>
        <div class="content">
            <form id="add_notes" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Add</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}
