{% extends 'base3.html' %}
{% load static %}

{% block title %}
    View notes
{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>View task notes</h1>
        <div class="content">
            <h2>Notes</h2>
            {% for item in get_task.tasknotes.all %}
                <p class="task_notes">{{ item.notes }}</p>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}
