{% extends 'base1.html' %}

{% block title %}
    Create project
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Create a new project</h1>
            <div class="content">
                <form class="create_project" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}
