{% extends 'base1.html' %}

{% block title %}
    My Projects
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <div class="content">
                <p class="create">
                    <a href="{% url 'create_project' %}">Create a new project</a>
                </p>
                {% if projects.count == 0 %}
                    <p>You are not assigned to any projects</p>
                {% else %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in projects %}
                                <tr>
                                    <td>
                                        <a href="{% url 'show_project' item.id %}">{{ item.name }}</a>
                                    </td>
                                    <td>{{ item.tasks.all|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}
