{% extends 'base1.html' %}

{% block title %}
    Project details
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ project.name }}</h1>
            <p class="description">{{ project.description }}</p>
            <div class="content">
                <h2 class="task_title">Tasks</h2>
                <p class="create">
                    <a href="{% url 'create_task' %}">Create a new task</a>
                </p>
                {% if project.tasks.count > 0 %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Assignee</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in project.tasks.all %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.assignee }}</td>
                                    <td>{{ item.start_date|date:"m/d/Y" }}</td>
                                    <td>{{ item.due_date|date:"m/d/Y" }}</td>
                                    <td>{{ item.is_completed|yesno:"Yes,No" }}</td>
                                    <td><a href="{% url 'task_notes' %}">Add</a> /
                                        <a href="{% url 'view_notes' item.id %}">View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>This project has no tasks</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}
